.commentaire{
	color: gray;
	font-weight: bold;
	font-style: italic;
	font-size: 25px;
	font-family: "arial black";
}
#pas_bug{
	 padding-left: 250px;
}
#mais_css{
	 padding-left: 80px;
}
.jaune{
	color: yellow;
}
.rouge{
	color: red;
}
.aquaa{
	color: aqua;
}
.vert{
	color: lime;
}
.XXXX{
	color:lightblue;
}